<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.redplug.redlotto">
    <application
            android:allowBackup="true"
            android:icon="@drawable/money"
            android:label="@string/app_name"
            android:roundIcon="@drawable/money"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ConstarintLayoutActivity">
        </activity>
        <activity android:name=".AbsoluteActivity">
        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <!-- AppTheme.Result 테마지정-->
        <activity
                android:name=".ResultActivity"
                android:theme="@style/AppTheme.Result"/>
        <!--AppTheme.Name 테마지정-->
        <activity
                android:name=".NameActivity"
                android:theme="@style/AppTheme.Name"/>
        <!-- AppTheme.Constellation 테마저장 -->
        <activity
                android:name=".ConstellationActivity"
                android:theme="@style/AppTheme.Constellation"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>